<p class="glyphicon glyphicon-shopping-cart">
    The customer expects the cellular network to receive the best reception, in order to make clear phone calls without noise, and to surf quickly and conveniently without unnecessary mishaps.
    The level of absorption sometimes affects the quality of life of the client, so an improvement in the level of absorption can sometimes be very significant. Especially for a person who has been in a certain area for a long time.
    Antennas is a new breed of solution to the issue of absorption, a solution that puts the customer's needs first. It provides a friendly and easy interface, while visualizing real results based on antenna data deployed throughout the country.    
</p>
<router-outlet></router-outlet>
