<div display="block">
    <canvas  mdbChart [chartType]="chartType" [datasets]="chartDatasets" [labels]="chartLabels" [colors]="chartColors" [options]="chartOptions"
      [legend]="false" (chartHover)="chartHovered($event)" (chartClick)="chartClicked($event)"style="display: block; height: 50% !important; width: 80% !important;">
    </canvas>
  </div>
   <div>
    <button class="btn"(click)="change('pie')">pie</button>
    <button id="1" class="btn" (click)="change('bar')">bar</button>
    <button class="btn" (click)="change('doughnut')">doughnut</button>
    <button class="btn" (click)="change('line')">line</button>
    <button class="btn" (click)="change('radar')">radar</button>
    <button class="btn" (click)="change('polarArea')">polar</button>
  </div>